# ignore all virtualenv stuff
env/

# ignore swap
*.swp

# ignore .pyc files
*.pyc

# ignore staticfiles folder
staticfiles/

# ignore this ignore to dev on mulitple machines
# ignore local files
#*.sqlite3
#.foreman
#.env
#Procfile.dev
#local-settings
