<!DOCTYPE html>
<html>
    <head>

        <title>
            {% block title %}
                Generic title
            {% endblock %}
        </title>

        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>

        <div class="container">

            <nav class='navbar navbar-inverse'>
                <div class='container-fluid'>

                    <ul class='nav navbar-nav'>

                        <li><a class='navbar-brand' href='{% url 'user-list' %}'>
                            <strong>
                                The App
                            </strong>
                        </a></li>

                        <li><a href='{% url 'abouttext-list' %}'>
                            <strong>
                                About
                            </strong>
                        </a></li>

                    </ul>

                    <div class='container'>
                        <p class="navbar-text navbar-right">
                            a django project by tanner lake
                        </p>
                    </div>

                </div>
            </nav>


            <div class='page-header'>
                <h1>{% block pagehead %}{% endblock %}</h1>
            </div>


            {% block content %}

                <h1>
                    Generic title
                </h1>

                <p>
                    Nothing interesting yet
                </p>

            {% endblock %}

            <div class='btn-group' role='group'>

            </div>

        </div>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    </body>
</html>
